@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.q7__float {
  box-sizing: border-box;
  width: 225px;
  float: left;
  font-size: 16px;
}

.q7__float:nth-child(1) {
  margin-right: 50px;
}

.table_box {
  display: table;
  /* table-layout: fixed; */
}

.table_text {
  display: table-cell;
  box-sizing: border-box;
  width: 225px;
}

/* .text:nth-child(1) {
  margin-right: 50px;
} */

.text {
}
/* 回答はここに書いてね */
