@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.q7__float {
  box-sizing: border-box;
  width: 225px;
  float: left;
  font-size: 16px;
}

.q7__float:nth-child(1) {
  margin-right: 50px;
}

.table_box {
  display: table;
  /* table-layout: fixed; */
}

.table_text {
  display: table-cell;
  width: 225px;
  font-size: 16px;
  vertical-align: middle;
}

.text:nth-child(1) {
}

.text {
}

.inline_box {
  font-size: 0;
}

.inline {
  display: inline-block;
  width: 225px;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 16px;
  margin-left: 50px;
}

.inline:first-child {
  margin-left: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex {
  box-sizing: border-box;
  width: 225px;
}



.fixed_box {
  display: inline-block;
  width: 300px;
}

.variable_box {
  display: inline-block;
  /* width: 100%; */
}
/* 回答はここに書いてね */
