@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.q7__float {
  box-sizing: border-box;
  width: 225px;
  float: left;
  font-size: 16px;
}

.q7__float:nth-child(1) {
  margin-right: 50px;
}


.table_box {
  display: table;
}

.table_text {
  display: table-cell;
  width: 225px;
  padding-left:50px;
  vertical-align: middle;
}

.table_text:first-child {
  padding-left: 0;
}

.inline_box {
  font-size: 0;
}

.inline {
  display: inline-block;
  width: 225px;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 16px;
  margin-left: 50px;
}

.inline:first-child {
  margin-left: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex {
  box-sizing: border-box;
  width: 225px;
}

.inline_text_box {
  font-size: 0;
}

.fixed_box {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

.variable_box {
  display: inline-block;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
  vertical-align: top;
}

.inline-text {
  font-size: 16px;
}

/* 回答はここに書いてね */
