@charset "UTF-8";

/* 回答はここに書いてね */
.box_parent {
  text-align: center;
}
.box_text {
  text-align: center;
  background-color: #e6f3ff;
  width: 90px;
  padding: 10px 0;
}

.box_left {
  display: inline-block;
}

.box_right {
  margin: 0 auto;
}

.contents_box {
  display: table;
}

.table_box {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.table_text {
  display: inline-block;
  background-color: #fff;
  padding: 10px;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item_text {
  background-color: #fff;
  padding: 10px;
  text-align: center;
}

.potision_box {
  position: relative;
}

.position_text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.transform_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 回答はここに書いてね */
